header{
    color: wheat;
    font-size: 30px;
    text-align: center;
    font-family: ;
}
body{
   background-color: black;
}
.headers {
    font-size: 25px;
    font-family: ;
}
.frog {
    background-color: #DDF9C1;
    font-size: 15px;
    margin: 20px 20px 20px 20px;
}
.axolotl {
    background-color: #EFB0A1;
    font-size: 15px;
    margin: 20px 20px 20px 20px;
}
.snake {
    background-color: #f3a37d;
    font-size: 15px;
    margin: 20px 20px 20px 20px;
}