.header {
    color: wheat;
    font-size: 80px;
    text-align: center;
    margin-top: 100px;
    font-family: 'Roboto Mono', monospace;
}
body{
   background-color: black;
}
.headers {
    font-size: 50px;
    font-family: ;
}

.post{
    margin: 100px 200px 100px 200px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
    font-family: 'Cairo', sans-serif;
}
.frog {
    background-color: #DDF9C1;
    color: #215c29;
}

.axolotl {
    background-color: #EFB0A1;
    color: #822637;
}

.snake {
    background-color: #f3a37d;
    color: #732e0e;
}
.post-pics {
    height: 500px;
}